<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>US State Minimum Wage: 1970 - 2020</title>
  <!-- <h1>US State and Federal Minimum Wage: 1970 - 2020</h1> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/styleLaTisha.css">
  <!-- <link rel="stylesheet" href="assets/css/d3Style.css"> -->

</head>
<body>
<a href='/alice'>Alice</a>
<a></a>
<a></a>
<a></a>
</body>
